<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="paul mondl (isdadev) & phillip schlichting (philrico)"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>[Will be changed]</title>
  </head>
  <body id="carpage">
    <h1>This page will show a car in a minute</h1>
  </body>
</html>
