<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <meta
      name="author"
      content="paul mondl (isdadev) & phillip schlichting (philrico)"
    />
    <title>Impressum</title>
  </head>
  <body id="impressum">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h2>Impressum</h2>
      <p>
        <b>
          Information and disclosure according to §5 (1) ECG, § 25 Media Law, §
          63 GewO and § 14 UGB</b
        >
      </p>
      <p>
        <b>Website operator:</b> MOSC GmbH<br />
        <b>Company registration number:</b> 123456789 <br />
        <b>Company registration court:</b> Tribunale di Palermo
      </p>
      <p><b>Address:</b> Eschenweg 3, 4171 St. Peter am Wimberg</p>
      <p>
        <b>UID-No:</b> 123456789 <br />
        <b>Trade supervision authority:</b> Bezirkshauptmannschaft Rohrbach-Berg
      </p>
      <p>
        <b>Contact details:</b> <br />
        Phone: 0680 160 24 99 <br />
        Email: isdadev@gmx.at <br />
      </p>

      <p>
        <b>Applicable legal provisions:</b> www.ris.bka.gv.at <br />
        <b>Professional title:</b> Racing sports
      </p>
      <p>
        <b>Online dispute resolution:</b> Consumers who are established in
        Austria or in any other contracting state of the ODR Regulation have the
        possibility to resolve issues regarding the paid purchase of goods or
        services within the framework of online dispute resolution (according to
        OS, AStG). The European Commission provides a platform for this:
        https://ec.europa.eu/consumers/odr
      </p>
      <p>
        <b>Copyright:</b> The content of this website is, as far as legally
        possible, subject to various protection rights (e.g., copyright). Any
        use/distribution of provided material that is prohibited by copyright
        requires the written consent of the website operator.
      </p>
      <p>
        <b>Disclaimer:</b> Despite careful content control, the operator of this
        website assumes no liability for the content of external links. The
        operators of the linked pages are solely responsible for their content.
        If you still become aware of outgoing links that point to a website with
        illegal activities/information, we ask for an appropriate notice so that
        we can remove them immediately according to § 17 Abs. 2 ECG.<br />The
        copyrights of third parties are respected by the operator of this
        website with the utmost care. If you nonetheless become aware of a
        copyright infringement, we ask for a corresponding notice. Upon becoming
        aware of such legal violations, we will promptly remove the affected
        content.
      </p>
      <p>
        Source:
        <b
          ><a
            href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php"
            >Impressum Generator Austria</a
          ></b
        >
      </p>
    </div>
    <footer>
      <p>&copy; 2024 MOSC</p>
      <div class="footer-links">
        <p><a href="/impressum">impressum</a></p>
        <p><a href="/privacy">privacy</a></p>
      </div>
    </footer>
  </body>
</html>
