@font-face {
  font-family: 'formular1';
  src: url('font.ttf');
}

* {
  font-family: 'formular1', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}
#gallery .gallery-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

#home main .COTD-section .card,
#gallery .card {
  border: 1px solid orange;
  min-width: 25%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 30px;
}

#home main .COTD-section .carImg,
#gallery .carImg {
  height: 100%;
}

#home main .COTD-section .textSection1,
#gallery .textSection1 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
  padding: 1rem;
}

#gallery main {
  display: grid;
  grid-template-columns: 8% 1fr;
}

#gallery {
  background-color: rgb(112, 151, 151);
}

#gallery nav {
  padding-bottom: 3rem;
}

#gallery .filter {
  text-align: center;
  margin-top: 0.5rem;
}

#gallery .filter .filterClass {
  text-align: center;
}

#home {
  background-color: rgb(61, 60, 60);
  overflow-x: hidden;
}

#home * {
  overflow: hidden;
}

#home main .header-section {
  height: 100vh;
  background-color: rgb(46, 94, 94);
}

#home main .header-section .media video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

#home main .header-section .media img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#home main .header-section .cta-button button {
  position: absolute;
  bottom: 13%;
  right: 50%;
  padding: 1rem;
  border-radius: 10px;
  background-color: gray;
}

#home main .header-section .cta-button button a {
  text-decoration: none;
  font-family: 'formular1', sans-serif;
  color: white;
}

#home main .header-section .control-button .button-left {
  position: absolute;
  bottom: 50%;
  left: 2%;
  z-index: 3;
}

#home main .header-section .control-button .button-right {
  position: absolute;
  bottom: 50%;
  right: 2%;
  z-index: 3;
}

#home main .intro-section {
  height: auto;
  padding: 10rem 3rem;
  color: white;
}

#home main .intro-section h1 {
  text-align: center;
}

#home main .intro-section li::marker {
  font-size: 24px;
}

#home main .intro-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home main .intro-section .text-section {
  color: white;
}

#home main .intro-section .text-section p {
  text-align: justify;
  line-height: 20px;
  letter-spacing: 1px;
}

#home main .intro-section .image-section {
  margin: auto auto;
}

@media screen and (max-width: 800px) {
  #home main .intro-section .container {
    grid-template-columns: 1fr;
  }

  #home main .COTD-section {
    padding: 3rem 10rem;
  }
}

#home main .intro-section .image-section img {
  width: 70%;
  height: 70%;
  margin: 15%;
}

#home main .COTD-section {
  height: auto;
  text-align: center;
  background-color: rgb(90, 88, 88);
  padding: 5rem 30%;
}

#impressum,
#privacy {
  background-color: rgb(112, 151, 151);
}

.container {
  padding: 100px 20% 0 20%;
}

#contact-page {
  background-color: rgb(112, 151, 151);
}

#contact {
  height: auto;
  text-align: center;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
}

#contact .contact-right {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'top-left'
    'top-right'
    'message'
    'button';
  gap: 1rem;
}

#contact .contact-right input,
#contact .contact-right #message {
  border-radius: 10px;
  margin: 10px 0;
  font-size: 22px;
  width: 500px;
}

#contact .contact-right input:first-of-type {
  grid-area: top-left;
}

#contact .contact-right input:nth-of-type(2) {
  grid-area: top-right;
}

#contact .contact-right #message {
  margin-top: 10px;
  height: 156px;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  resize: none;
  grid-area: message;
}

#contact .contact-right button[type='submit'] {
  grid-area: button;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
  background-color: gray;
}

#contact .captcha-field {
  display: flex;
  justify-content: space-evenly;
}

input {
  padding: 0.5rem;
}

#contact .contact-left h3 {
  font-size: var(--default-font-size);
  line-break: auto;
}

#contact .form {
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin-right: 2%;
  position: absolute;
  z-index: 3;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

nav ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  transition: 1s;
  background-color: white;
  margin: auto;
}

nav ul li:hover::after {
  width: 100%;
}

footer {
  justify-content: space-between;
  padding: 0 3rem;
  display: flex;
  overflow: hidden;
}

footer .footer-links {
  display: flex;
  gap: 1rem;
}

footer .footer-links a {
  color: white;
}
