body {
  margin: 0;
  padding: 0;
}

.gallery-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  gap: 1rem;
}

.card {
  border: 1px solid orange;
  min-width: 25%;
  display: grid;
  grid-template-rows: 1fr auto; 
  margin: 30px;
}

.carImg {
  height: 100%; 
}

.textSection1 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr; 
  padding: 1rem; 
}